html {
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
}

html,
body {
    cursor: url("@/images/mouse/mouse-f1.png"), auto;
    font-family: $body-font-family;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.1px;
    line-height: 1.8;
    color: #051922;
    overflow-x: hidden;
    img {
        max-width: 100%;
    }
}

a,
button {
    &:hover {
        cursor: url("@/images/mouse/mouse-f2.png"), auto;
    }
}

a {
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    &:hover {
        color: $main-color;
        text-decoration: none;
    }
}

h1,
.h1 {
    font-family: $font-family-header;
    font-weight: 700;
    margin: 0 0 1.25rem 0;
    color: #051922;
    font-size: 4rem;
    line-height: 4rem;
    &:last-child {
        margin: 0;
    }
}

.h2,
h2 {
    font-family: $font-family-header;
    font-weight: 700;
    margin: 0 0 1.25rem 0;
    color: #051922;
    font-size: 3rem;
    line-height: 3.25rem;
    &:last-child {
        margin: 0;
    }
}

.h3,
h3 {
    font-family: $font-family-header;
    font-weight: 700;
    margin: 0 0 1.25rem 0;
    color: #051922;
    font-size: 2rem;
    line-height: 2.25rem;
    &:last-child {
        margin: 0;
    }
}

.h4,
h4 {
    font-family: $font-family-header;
    font-weight: 700;
    margin: 0 0 1.25rem 0;
    color: #051922;
    font-size: 1.5rem;
    line-height: 1.75rem;
    &:last-child {
        margin: 0;
    }
}

.h5,
h5 {
    font-family: $font-family-header;
    font-weight: 700;
    margin: 0 0 1.25rem 0;
    color: #051922;
    font-size: 1.25rem;
    line-height: 1.5rem;
    &:last-child {
        margin: 0;
    }
}

.h6,
h6 {
    font-family: $font-family-header;
    font-weight: 700;
    margin: 0 0 1.25rem 0;
    color: #051922;
    font-size: 1rem;
    line-height: 1.5rem;
    &:last-child {
        margin: 0;
    }
}

p {
    font-family: $font-family-paragraph;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.1px;
    line-height: 1.8;
    color: #051922;
    margin: 0 0 1.25rem 0;
    &:last-child {
        margin: 0;
    }
}

ul li {
    list-style: none;
}

@media only screen and (max-width: 767.96px) {
    .h1,
    h1 {
        font-size: 3rem;
        line-height: 3.25rem;
    }
    .h2,
    h2 {
        font-size: 2.5rem;
        line-height: 2.75rem;
    }
}

@media only screen and (max-width: 575.96px) {
    .h1,
    h1 {
        font-size: 2.5rem;
        line-height: 2.75rem;
    }
    .h2,
    h2 {
        font-size: 2rem;
        line-height: 2.25rem;
    }
    .h3,
    h3 {
        font-size: 1.75rem;
        line-height: 2rem;
    }
    .h4,
    h4 {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
}
