input {
    // &[type="number"] {
    //     border: 1px solid #ddd;
    //     border-radius: 5px;
    //     padding: 10px;
    //     width: 100px;
    //     margin-bottom: 15px;
    // }
    &[type="submit"] {
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        border-radius: 50px !important;
        background-color: $main-bg;
        color: $color_3;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 15px;
        border: none !important;
        cursor: pointer;
        padding: 15px 25px;
        border-radius: 3px;
        &:hover {
            background-color: $main-black-color;
            color: $main-color;
        }
    }
}

#form_status {
    span {
        color: $color_2;
        font-size: 14px;
        font-weight: normal;
        background: #e74c3c;
        width: 100%;
        text-align: center;
        display: inline-block;
        padding: 10px 0px;
        border-radius: 3px;
        margin-bottom: 18px;
    }
    span.loading {
        color: $color_11;
        background: #eee;
        border-radius: 3px;
        padding: 18px 0px;
    }
    span.notice {
        color: $color_12;
    }
    .success {
        color: $color_2;
        text-align: center;
        background: #2ecc71;
        border-radius: 3px;
        padding: 30px 0px;
        i {
            color: $color_2;
            font-size: 45px;
            margin-bottom: 14px;
        }
        h3 {
            color: $color_2;
            margin-bottom: 10px;
        }
    }
}

.contact-form {
    form {
        input[type="text"] {
            width: 49%;
            padding: 15px;
            border: 1px solid #ddd;
            border-radius: 3px;
        }
        input[type="tel"] {
            width: 49%;
            padding: 15px;
            border: 1px solid #ddd;
            border-radius: 3px;
        }
        input[type="email"] {
            width: 49%;
            padding: 15px;
            border: 1px solid #ddd;
            border-radius: 3px;
        }
        textarea {
            border: 1px solid #ddd;
            padding: 15px;
            height: 200px;
            border-radius: 3px;
            width: 100%;
            resize: none;
        }
    }
    &-wrap {
        background-color: #fbfbfb;
        padding: 45px 30px;
        border-radius: 5px;
        .contact-form-box {
            &:last-child {
                margin: 0;
            }
        }
    }
    &-box {
        padding-left: 40px;
        margin-bottom: 30px;
        h4 {
            font-size: 20px;
            font-weight: 600;
            position: relative;
            margin-bottom: 10px;
            i {
                position: absolute;
                left: -13%;
                color: $main-color;
                top: 2px;
            }
        }
        p {
            line-height: 1.8;
            opacity: 0.8;
        }
    }
}

.billing-address-form {
    padding: 20px;
    form {
        input {
            border: 1px solid #ddd;
            padding: 15px;
            width: 100%;
            border-radius: 3px;
        }
        textarea {
            width: 100%;
            border-radius: 3px;
            border: 1px solid #ddd;
            padding: 15px;
            height: 120px;
            resize: none;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.shipping-address-form {
    p {
        margin: 0;
    }
}

.coupon-form-wrap {
    form {
        input[type="text"] {
            border: 1px solid #ddd;
            color: $color_3;
            padding: 15px;
            width: 100%;
            border-radius: 5px;
            font-size: 15px;
        }
    }
}

.form-title {
    margin-bottom: 25px;
    h2 {
        font-size: 25px;
    }
    p {
        font-size: 15px;
        line-height: 1.8;
    }
}
